# 1. Data management and processing

## 1.1 Loading libraries

In [1]:
import pandas as pd
import os

## 1.2 Setting working directory

In [2]:
os.chdir('C:\\Users\\obiangr\\OneDrive - World Health Organization\\Documents\\Working documents\\Courses\\BootCamp Jedha\\Projet 1')

## 1.3 Data wrangling

### Data imporation

In [3]:
ecom_data_oct = pd.read_csv('Data/2019-Oct.csv')
ecom_data_nov = pd.read_csv('Data/2019-Nov.csv')
ecom_data_dec = pd.read_csv('Data/2019-Dec.csv')
ecom_data_jan = pd.read_csv('Data/2020-Jan.csv')

### Data merging

In [4]:
ecom_data_list =[ecom_data_oct, ecom_data_nov, ecom_data_dec, ecom_data_jan]
ecom_data_merging = pd.concat(ecom_data_list)
print(ecom_data_merging.shape) #Dimension dataframes
ecom_data_merging.head(5) #View data source

(16536158, 9)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,cart,5773203,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
1,2019-10-01 00:00:03 UTC,cart,5773353,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
2,2019-10-01 00:00:07 UTC,cart,5881589,2151191071051219817,NaN,lovely,13.48,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9
3,2019-10-01 00:00:07 UTC,cart,5723490,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
4,2019-10-01 00:00:15 UTC,cart,5881449,1487580013522845895,NaN,lovely,0.56,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9

### Data subset on purchased products

In [5]:
ecom_merging_purchase0 = ecom_data_merging.loc[ecom_data_merging.event_type == 'purchase']
print(ecom_merging_purchase0.shape) #Dimension dataframe

##Remove the duplicates based on user_id, user_session, product_id and event_type
ecom_merging_purchase = ecom_merging_purchase0.drop_duplicates(['event_type', 'product_id', 'user_id','user_session'])
print(ecom_merging_purchase.shape) #Dimension dataframe
ecom_merging_purchase.head(5)

(1045014, 9)
(1037088, 9)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
202,2019-10-01 00:06:35 UTC,purchase,5619862,1487580006895846315,NaN,runail,5.32,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
204,2019-10-01 00:06:35 UTC,purchase,5619866,1487580006895846315,NaN,runail,2.86,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
205,2019-10-01 00:06:35 UTC,purchase,5696184,1487580005134238553,NaN,runail,2.38,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
206,2019-10-01 00:06:35 UTC,purchase,5706784,1487580005092295511,NaN,runail,4.44,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
207,2019-10-01 00:06:35 UTC,purchase,5723503,1487580005134238553,NaN,runail,2.62,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe

### Data subset on not purchased products

In [8]:
ecom_merging_not_purchase0 = ecom_data_merging.loc[ecom_data_merging.event_type != 'purchase']
print(ecom_merging_not_purchase0.shape) #Dimension dataframe

##Remove the duplicates based on user_id, user_session, product_id and event_type
ecom_merging_not_purchase = ecom_merging_not_purchase0.drop_duplicates(['event_type', 'product_id', 'user_id','user_session'])
print(ecom_merging_not_purchase.shape) #Dimension dataframe
ecom_merging_not_purchase.head(10)

##Manage duplicates "purchase" and "not purchase" in the sub dataset

##Reassigning all events type in "not purchase"
ecom_merging_not_purchase['event_type'] = "not purchase"
ecom_merging_not_purchase.head(5)

(15491144, 9)
(12604318, 9)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

### Data merging between purchased and not purchased products

In [11]:
ecom_data_final = pd.concat([ecom_merging_purchase, ecom_merging_not_purchase])
print(ecom_data_final.shape)
ecom_data_final.head(20)

(13641406, 9)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
202,2019-10-01 00:06:35 UTC,purchase,5619862,1487580006895846315,NaN,runail,5.32,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
204,2019-10-01 00:06:35 UTC,purchase,5619866,1487580006895846315,NaN,runail,2.86,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
205,2019-10-01 00:06:35 UTC,purchase,5696184,1487580005134238553,NaN,runail,2.38,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
206,2019-10-01 00:06:35 UTC,purchase,5706784,1487580005092295511,NaN,runail,4.44,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
207,2019-10-01 00:06:35 UTC,purchase,5723503,1487580005134238553,NaN,runail,2.62,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
208,2019-10-01 00:06:35 UTC,purchase,5773207,1487580005134238553,NaN,runail,2.62,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
209,2019-10-01 00:06:35 UTC,purchase,5814822,1487580005897601916,NaN,runail,2.38,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
210,2019-10-01 00:06:35 UTC,purchase,5854324,1487580005134238553,NaN,runail,2.38,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
211,2019-10-01 00:06:35 UTC,purchase,5865795,1487580008909111303,NaN,NaN,1.75,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
212,2019-10-01 00:06:35 UTC,purchase,5875317,2029082628195353599,NaN,NaN,1.59,474232307,445f2b74-5e4c-427e-b7fa-6e0a28b156fe
342,2019-10-01 00:10:30 UTC,purchase,5835930,1487580010125459512,NaN,irisk,2.78,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
343,2019-10-01 00:10:30 UTC,purchase,5803890,1487580005461394279,NaN,bluesky,3.97,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
344,2019-10-01 00:10:30 UTC,purchase,5804034,1487580005461394279,NaN,bluesky,3.97,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
345,2019-10-01 00:10:30 UTC,purchase,5804629,1487580005461394279,NaN,bluesky,3.97,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
346,2019-10-01 00:10:30 UTC,purchase,5809297,1487580007675986893,NaN,bpw.style,0.79,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
347,2019-10-01 00:10:30 UTC,purchase,5812119,1761186209054327497,NaN,art-visage,3.02,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
348,2019-10-01 00:10:30 UTC,purchase,5814529,1487580006895846315,NaN,runail,6.27,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
349,2019-10-01 00:10:30 UTC,purchase,5814542,1783999063314661546,NaN,runail,3.97,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
350,2019-10-01 00:10:30 UTC,purchase,5817702,1487580009496313889,NaN,NaN,0.63,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c
351,2019-10-01 00:10:30 UTC,purchase,5819114,1487580007675986893,NaN,bpw.style,0.79,543446752,4a01cad9-7368-fd9e-d907-d4d85de0b55c

### Exporting the final data merging into csv file

In [13]:
ecom_data_final.to_csv("Outputs/ecom_data_cleaning.csv")